<!DOCTYPE html>
<html>
    <head>
        
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <title>Les Petits Français</title>
        <link rel="icon" href="imglpf/lpf.jpg"/>
        <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="assets1/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="assets2/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="assets3/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kaushan+Script">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700">
        <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
        <link rel="stylesheet" href="assets1/fonts/font-awesome.min.css">
        <link rel="stylesheet" href="assets2/fonts/font-awesome.min.css">
        <link rel="stylesheet" href="assets3/fonts/font-awesome.min.css">
        <link rel="stylesheet" href="assets/css/Article-List.css">
        <link rel="stylesheet" href="css/custom.css">
        <link rel="stylesheet" href="assets2/css/Article-List.css">
        <link rel="stylesheet" href="assets3/css/Article-List.css">
        <link rel="stylesheet" href="assets/css/Team-Boxed.css">
        <link rel="stylesheet" href="assets1/css/Team-Boxed.css">
        <link rel="stylesheet" href="assets2/css/Team-Boxed.css">
        <link rel="stylesheet" href="assets3/css/Team-Boxed.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/css/lightbox.min.css">
        <link rel="stylesheet" href="assets/css/Lightbox-Gallery.css">
        <link rel="stylesheet" href="assets1/css/Lightbox-Gallery.css">
        <link rel="stylesheet" href="assets2/css/Lightbox-Gallery.css">
        <link rel="stylesheet" href="assets3/css/Lightbox-Gallery.css">
        <link rel="stylesheet" href="assets/css/Projects-Horizontal.css">
        <link rel="stylesheet" href="assets1/css/Projects-Horizontal.css">
        <link rel="stylesheet" href="assets2/css/Projects-Horizontal.css">
        <link rel="stylesheet" href="assets3/css/Projects-Horizontal.css">
        <link rel="stylesheet" href="assets/css/Team-Boxed.css">
        <link rel="stylesheet" href="assets1/css/Team-Boxed.css">
        <link rel="stylesheet" href="assets2/css/Team-Boxed.css">
        <link rel="stylesheet" href="assets3/css/Team-Boxed.css">
        <link rel="stylesheet" href="assets/css/Team-Grid.css">
        <link rel="stylesheet" href="assets1/css/Team-Grid.css">
        <link rel="stylesheet" href="assets2/css/Team-Grid.css">
        <link rel="stylesheet" href="assets3/css/Team-Grid.css">
        <link rel="stylesheet" href="assets5/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="assets5/fonts/font-awesome.min.css">
        <link rel="stylesheet" href="assets5/css/Article-List.css">
        <link rel="stylesheet" href="assets5/css/Team-Boxed.css">

        {% block stylesheets %}{% endblock %}

        {% block javascripts %}{% endblock %}
    </head>
    <body>
    <body id="page-top" style="color: r;">
    <nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-dark" id="mainNav">
        <div class="container">
        <a class="navbar-brand" href="#page-top">Les Petits Français</a>
        <button data-toggle="collapse" data-target="#navbarResponsive" class="navbar-toggler navbar-toggler-right" type="button" data-toogle="collapse" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fa fa-bars"></i>
        </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="nav navbar-nav ml-auto text-uppercase">
                    <li class="nav-item">
                      <a href="{{path ('app_logout') }}">
                        <button type="button" class="btn btn-outline-danger" style="margin-right: 140px; margin-top: 8px;">Se déconnecter</button>
                      </a>
                    </li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="/accueil">ACCUEIl</a></li>
                    {% if app.user.username == 'Caroline.Doliprane' or app.user.username == 'admin'%}
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="/usercreate">Créer</a></li>
                    {% endif %}
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="/thematiques">THEMATIQUES</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="/galerie">GALERIE</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="/profil">PROFIL</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="body">
        {% block body %}{% endblock %}
    </div>
    </body>
</html>
