{% extends 'base.html.twig' %}

{% block body %}


<header class="masthead" style="background-image: url('assets1/img/ca857deb-d28c-c850-89c0-f8a6000f9e10.jpg');">
        <div class="container"></div>
    </header>
    <div class="team-boxed" style="background: linear-gradient(#F9FF69 0%, rgb(255,197,164) 50%, rgb(255,166,166) 100%), var(--dark);">
        <div class="container">
            <div class="intro">
                <h2 class="text-center">Thématique n°1 : Phonologie</h2>
                <p class="text-center">J'entends ? Ou je n'entends pas ?</p>
            </div>
            <div class="row people">
                <div class="col-md-6 col-lg-4 item">
                    <div class="box" style="background: rgba(79,134,195,0);"><img class="rounded-circle" src="assets1/img/writing.png" style="background: rgb(255,184,133);">
                        <h3 class="name">Ecrire</h3>
                        <p class="description">[Définir le but de l'exercice]</p>
                        <p><button type="button" class="btn btn-light">EXERCICE</button></p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 item">
                    <div class="box" style="background: rgba(255,184,133,0);"><img class="rounded-circle" src="assets1/img/read.png" style="background: rgb(255,184,133);">
                        <h3 class="name">Lire</h3>
                        <p class="description">Ecoute attentivement, et répète après-moi.<br></p>
                        <p><button type="button" class="btn btn-light"><a href="/exercicelire">EXERCICE</a></button></p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 item">
                    <div class="box" style="background: rgba(255,184,133,0);"><img class="rounded-circle" src="assets1/img/conversation.png" style="background: rgb(255,184,133);">
                        <h3 class="name">Parler</h3>
                        <p class="description">[Définir le but de l'exercice]<br></p>
                        <p><button type="button" class="btn btn-light">EXERCICE</button></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="team-boxed" style="background: linear-gradient(rgb(255,166,166), rgb(255,212,212) 50%, rgb(196,209,255));">
        <div class="container">
            <div class="intro">
                <h2 class="text-center">Thématique n°2 : Encodage</h2>
                <p class="text-center">J'associe deux sons pour n'en former qu'un !</p>
            </div>
            <div class="row people">
                <div class="col-md-6 col-lg-4 item">
                    <div class="box" style="background: rgba(79,134,195,0);"><img class="rounded-circle" src="assets1/img/writing.png" style="background: rgb(217,193,255);">
                        <h3 class="name">Ecrire</h3>
                        <p class="description">[Définir le but de l'exercice]</p>
                        <p><button type="button" class="btn btn-light">EXERCICE</button></p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 item">
                    <div class="box" style="background: rgba(255,184,133,0);"><img class="rounded-circle" src="assets1/img/read.png" style="background: rgb(236,181,249);">
                        <h3 class="name">Lire</h3>
                        <p class="description">[Définir le but de l'exercice]<br></p>
                        <p><button type="button" class="btn btn-light">EXERCICE</button></p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 item">
                    <div class="box" style="background: rgba(255,184,133,0);"><img class="rounded-circle" src="assets1/img/conversation.png" style="background: rgb(236,181,249);">
                        <h3 class="name">Parler</h3>
                        <p class="description">[Définir le but de l'exercice]<br></p>
                        <p><button type="button" class="btn btn-light">EXERCICE</button></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="team-boxed" style="background: linear-gradient(rgb(196,209,255), rgb(192,244,255) 50%, rgb(197,255,161));">
        <div class="container">
            <div class="intro">
                <h2 class="text-center">Thématique n°3 : Décodage</h2>
                <p class="text-center">J'analyse le mot que je rencontre !</p>
            </div>
            <div class="row people">
                <div class="col-md-6 col-lg-4 item">
                    <div class="box" style="background: rgba(79,134,195,0);"><img class="rounded-circle" src="assets1/img/writing.png" style="background: rgb(138,190,251);">
                        <h3 class="name">Ecrire</h3>
                        <p class="description">[Définir le but de l'exercice]</p>
                        <p><button type="button" class="btn btn-light">EXERCICE</button></p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 item">
                    <div class="box" style="background: rgba(255,184,133,0);"><img class="rounded-circle" src="assets1/img/read.png" style="background: rgb(138,190,251);">
                        <h3 class="name">Lire</h3>
                        <p class="description">[Définir le but de l'exercice]<br></p>
                        <p><button type="button" class="btn btn-light">EXERCICE</button></p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 item">
                    <div class="box" style="background: rgba(255,184,133,0);"><img class="rounded-circle" src="assets1/img/conversation.png" style="background: rgb(138,190,251);">
                        <h3 class="name">Parler</h3>
                        <p class="description">[Définir le but de l'exercice]<br></p>
                        <p><button type="button" class="btn btn-light">EXERCICE</button></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer style="color: #ffffff;background: var(--dark);"><span class="copyright" style="color: var(--light);">Copyright&nbsp;© INFORMASCHOOL</span></footer>

<div class="article-list"></div>
    <script src="assets1/js/jquery.min.js"></script>
    <script src="assets1/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <script src="assets1/js/agency.js"></script>

{% endblock %}