{% extends 'base.html.twig' %}

{% block body %}

<button placeholder="GET USER ID"><a href="/userlist">GET USER ID</a></button>
</br>
<button placeholder="CREATE USER"><a href="">CREATE USER</a></button>
</br>
<button placeholder="DELETE USER"><a href="">DELETE USER</a></button>
</br>

{% endblock %}